/vendor
/vendor.zip
/node_modules
.env
.env.backup
/storage/*.key
/storage/logs/*.log
/public/hot
/public/storage
/storage/pail
Homestead.json
Homestead.yaml
auth.json
.phpunit.result.cache
/.fleet
/.idea
/.vscode
